body, html
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: helvetica, arial;
	font-size: 16px;
	color: #111;
	background: #f6f6f6;
}

.wrapper
{
	width: 100%;
}

.main
{
	width: 70%;
	margin: 0 auto;
	background: #fff;
}

.main__content
{
	padding: 5px;
}

.video
{
	display: block;
	width: 90%;
	margin: 5px auto;
}

.item
{
	color: #111;
	display: inline-block;
	vertical-align: top;
}

.item__content
{
	padding: 5px;
}

.item__thumb
{
	width: 350px;
}

.item__text
{
	font-size: 16pt;
}

.item:hover
{
	text-decoration: none;
}